<!doctype html>
<head>
	<meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="./delete.js"></script>
	<link rel="stylesheet" href="./delete.css" />

</head>
<html>
	<body>
<div class="formField">
        
        <form action="/" method="POST" class= "form-inline margin2" style="padding: 5px">
     <input type="text" name="tagsinput" id="tags-input" class="form-control">
     <input type="BUTTON" value="Save" class="btn btn-success">
   </form>
      </div>
	<div class="tags"></div>	
	</body>
</html>
